# dependencies
node_modules/

# workspaces
apps/*/node_modules/
packages/*/node_modules/

# next
apps/frontend/.next/
apps/frontend/out/

# nest / build
apps/backend/dist/
coverage/

# env
.env
.env.*
apps/*/.env
apps/*/.env.*

# misc
.DS_Store
*.log
*.tsbuildinfo
